<launch>
  <param name="expander_address" type="int" value="64" />
  <node name="Motors" pkg="rosredboard" type="motors.py" ns="RedBoard" />
  <node name="Servos" pkg="rosredboard" type="servos.py" ns="RedBoard" />
  <node name="Expander" pkg="rosredboard" type="expander.py" ns="RedBoard" />
  <node name="ADC" pkg="rosredboard" type="adc.py" ns="RedBoard" />
</launch>